.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #363b4a; 
    padding: 20px;
    position: fixed;
    top: 0;
    left: -250px; 
    transition:  0.3s;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  

  .sidebar.open {
    left: 0;
  }
  

  .sidebar h2 {
    margin: 0 0 15px;
    font-size: 24px;
    color: #191d21; 
  }
  
  .sidebar ul a{
    color: #007bff;
  }
  .planets {
    list-style-type: none;
    padding: 0;
    margin: 0;
    
  }
  
  .planets li {
    padding: 10px;
    border-radius: 4px;
    transition:  0.3s;
  }
  
  .planets li:hover {
    background-color: #e0e0e0; 
  }
  

  .planets ul {
    list-style: none;
    padding-left: 20px; 
    display: block;
    color: #191d21;
  }
  .planets ul li::before{
    content: "\2022";
    display: inline-block;
    width: 1em;
    font-weight: bold;
  }
  

  
  
  .moon-icon {
    cursor: pointer;
    display: inline-block;
    width: 16px;  
    height: 16px; 
    border-radius: 50%;
    margin-left: 40px;
    position: relative;
  }
  
  .moon-icon::after {
    content: "→"; 
    position: absolute;
    top: 50%;
    left: 50%;
    right: -50px;
    transform: translate(-50%, -50%);
    font-size: 30px; 
  }
  
  .sidebar-button {
    position: absolute;
    width:50px;
    top: 50%;
    right: -50px;
    transform: translateY(-50%);
    background-color: #363b4a;
    padding: 0px;
    cursor: pointer;
    z-index: 1000; 
    border-radius: 0 5px 5px 0; 
    transition:  .3s;
    color: black;
  }
  
  .sidebar-button:hover {
    background-color: white;
  }
  